extends layout

block styles
	link(href="/css/about.css", rel="stylesheet")

block content
		.col-md-12.well
			.inner.cover
				h1.cover-heading Activation du jeu
				p.lead Vous devez utiliser le navigateur Google Chrome.
				p.lead Vous devez également activer la fonction expérimentale Native Client.
				p.lead Pour cela, tapez "chrome:flags" dans la barre de recherche. Cliquez ensuite sur "Activer" à la ligne "Native Client"
				br

				h1.cover-heading Notre Equipe
				h3 Anthony, Guillaume, Adam, Léo-paul, Thomas
				img(src="img/123.svg" alt="Huns de Troyes")
				br
				br

				h1.cover-heading Les concepts du Jeu
				p.lead Arkanoid est un jeu d'arcade créé en 1986, inspiré de breakout.
				p.lead Notre jeu Arkanovoid est un casse-briques similaire à la différence qu'il est accessible par navigateur grâce à la technologie Google Native Client.
				p.lead Le principe reste le même.
				br
				br

				h1.cover-heading Histoire du jeu
				p.lead A mesure que l'humanité se développe, notre besoin d'énergie grandit. Certain ont cherché la solution dans l'espace, en tentant de répliquer la réaction de fusion nucléaire se produisant dans les étoiles. 
				p.lead Mais si la solution se trouvait juste en dessous de nous ? Notre planète est appelée le "troisième rocher depuis le soleil", mais c'est tout sauf un rocher. En réalité, la croute terrestre ne mesure que 4km d'épaisseur. Et en dessous se trouve l'enfer. Le manteau terrestre, une gigantesque masse de magma, et une réserve d'énergie infinie.
				p.lead Pour l'exploiter, nous avons créé le Void. Le Void est une sonde expérimentale conçue pour creuser à travers la croute terrestre en direction du noyau, afin d'analyser le manteau. Elle a été lancée ce matin, et nous nous attendons à recevoir très bientôt des données. Nous espérons que ces analyses nous aiderons a mieux comprendre notre planète, et à découvrir de nouvelle sources d'énergies.
				p.lead Mais tout d'abord, c’est vous qui allez devoir contrôler le Void, et l'amener à bon port.