extends layout

block styles
	link(href="/css/about.css", rel="stylesheet")

block content
		.col-md-12.well
			.inner.cover
				h1.cover-heading Notre Equipe
				h3 Anthony, Guillaume, Adam, Léo-paul, Thomas
				img(src="img/123.svg" alt="Huns de Troyes")
				h1.cover-heading Les concepts du Jeu

				p.lead Arkanoid est un jeu d'arcade créé en 1986, inspiré de breakout.
				p.lead Notre jeu Arkanovoid est un casse-briques similaire à la différence qu'il est accessible par navigateur.
				p.lead Le principe reste le même.