extends layout

block styles
	link(href="/css/about.css", rel="stylesheet")

block content
		.col-md-12.well
			.inner.cover
				h1.cover-heading Comment jouer ?
				p.lead Vous devez utiliser le navigateur Google Chrome.
				p.lead Vous devez également activer la fonction expérimentale Native Client.
				p.lead Pour cela, tapez "chrome:flags" dans la barre de recherche. Cliquez ensuite sur "Activer" à la ligne "Native Client"
				br

				h1.cover-heading Notre Equipe
				h3 Anthony, Guillaume, Adam, Léo-paul, Thomas
				img(src="img/123.svg" alt="Huns de Troyes")
				br
				br

				h1.cover-heading Les concepts du Jeu
				p.lead Arkanoid est un jeu d'arcade créé en 1986, inspiré de breakout.
				p.lead Notre jeu Arkanovoid est un casse-briques similaire à la différence qu'il est accessible par navigateur grâce à la technologie Google Native Client.
				p.lead Le principe reste le même.