extends layout

block styles
	link(href="/css/client.css", rel="stylesheet")

block content
	#viewport
	#listener
		embed(width="0" height="0" src="/server/server.nmf" type="application/x-pnacl")

block scripts
	script(src="/two/two.min.js")
	script(src="/js/arkanoid.min.js")
