extends layout

block content
    #viewport
    #listener
        embed(width="0" height="0" src="/server/server.nmf" type="application/x-pnacl")

block scripts
    script(src="/bower/two/build/two.min.js")
    script(src="/js/client.js")
