extends layout

block styles
	link(href="/css/client.css", rel="stylesheet")

block content
	canvas
	#viewport
	#listener
		embed(width="0" height="0" src="/server/server.nmf" type="application/x-pnacl")
	img#layer1(src="/img/layer1.png", alt="layer1")
	img#layer2(src="/img/layer2.png", alt="layer2")
	img#layer3(src="/img/layer3.png", alt="layer3")

block scripts
	script(src="/two/two.min.js")
	script(src="/js/arkanoid.min.js")
