extends layout

block styles
	link(href="/css/index.css", rel="stylesheet")

block content
	.row
		.col-md-12.well
			.inner.cover
				h1.cover-heading ArkanoVoid
				#carousel-example-generic.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic" data-slide-to="0") 
						li(data-target="#carousel-example-generic" data-slide-to="1")
						li(data-target="#carousel-example-generic" data-slide-to="2")
						li(data-target="#carousel-example-generic" data-slide-to="3")
						li(data-target="#carousel-example-generic" data-slide-to="4")
					.carousel-inner
						.item.active
							img(src="img/team.png" alt="team")
							.carousel-caption
						.item
							img(src="img/love.png" alt="love")
							.carousel-caption
						.item
							img(src="img/leops.svg" alt="leops")
							.carousel-caption
								h3 Léo-Paul le Hun
								p Grand et chevelu
						.item
							img(src="img/test2.png" alt="guigui")
							.carousel-caption
								h3 Guigui le terrible
								p Stock et Barbu
						.item
							img(src="img/hun.png" alt="colle")
							.carousel-caption
								h3 By thomas
								p Ouai gros
								
					a.left.carousel-control(href="#carousel-example-generic" data-slide="prev")
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href="#carousel-example-generic" data-slide="next")
						span.glyphicon.glyphicon-chevron-right
				p.lead Ashtéhemellent sainquent hé Hénasséhellent
				p.lead
					a.btn.btn-lg.btn-default(href='/game')
						i.fa.fa-lg.fa-play
						| &nbsp&nbspLancer le jeu
					p.lead Le but du jeu est de détruire toutes les briques en déviant la balle à l'aide de la paddle. La balle rebondit sur les murs et les briques. Certaines briques doivent être touchées plus d'une fois avant d'être détruites. D'autres briques sont incassables.
