extends layout

block styles
	link(href="/css/index.css", rel="stylesheet")

block content
		.col-md-12.well
			.inner.cover
				img(src="img/arkanovoid_logo.png" alt="Arkanovoid logo")
				p.lead
					a.btn.btn-lg.btn-primary(href='/game')
						i.fa.fa-lg.fa-play
						| &nbsp&nbspLancer le jeu
				p.lead Le but du jeu est de détruire toutes les briques en déviant la balle à l'aide de la paddle. La balle rebondit sur les murs et les briques. Certaines briques doivent être touchées plus d'une fois avant d'être détruites. D'autres briques sont incassables.
