doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title ArkanoVoid - #{title}
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
		block styles
	body
		.container
			.row
				a.page-header(href="/index")
					h1 ArkanoVoid&nbsp&nbsp
						small Huns de Troyes

			.row
				ul.nav.nav-pills.nav-justified
					li.active
						a(href="/")
							i.fa.fa-lg.fa-fw.fa-home
							| &nbsp&nbspAccueil
					li
						a(href="/game")
							i.fa.fa-lg.fa-fw.fa-gamepad
							| &nbsp&nbspJeu
					li
						a(href="/connect")
							i.fa.fa-lg.fa-fw.fa-power-off
							| &nbsp&nbspConnection
					li
						a(href="/shop")
							i.fa.fa-lg.fa-fw.fa-shopping-cart
							| &nbsp&nbspBoutique
					li
						a(href="/contact")
							i.fa.fa-lg.fa-fw.fa-envelope
							| &nbsp&nbspContact
					li
						a(href="/about")
							i.fa.fa-lg.fa-fw.fa-question
							| &nbsp&nbspA propos
			block content
			footer
					Coucou
		script(src="/jquery/jquery.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		block scripts
