$max-height: 100%
$black: #333

body {
	height: 100vh;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: $black;
}

.container {
	height: $max-height;
}

.btn-default, .btn-default:focus {
	padding: 0;
	height: $max-height;
	background-color: $black;
}

.btn-default.active:focus {
	background-color: #fff;
}

.btn-default:hover:not(.active) {
	background-color: rgba(255, 255, 255, 0.3);
}

.btn-group {
	min-width: 105px;
	padding: 0;
}
