body
	margin 0
	padding 0
	background-color #000

#viewport
	height 100%
	width 100%
	background-image url('/img/layer3.png'), url('/img/layer2.png'), url('/img/layer1.png')
	background-size 115% 115%,110% 110%,105% 105%
	background-position 15% 15%, 10% 10%, 5% 5%
