body
  background-color #9CDAF8

.well
  width 40vw
  padding 0px
  margin-left 30vw
  margin-right 30vw
  text-align center
  background-color #D4F0FD
  border solid 1 px #4BB3E5

.masthead-brand
  display inline-block
  padding-right 20px
  font-size 40px
  margin-bottom -20px

.masthead
  margin-left 20vw
  margin-bottom 20px

a
  background-color #D4F0FD