body
  background-color #9CDAF8

.well
  text-align center
  background-color #D4F0FD
  border solid 1 px #4BB3E5

ul.nav.nav-pills
  margin-bottom 20px
  li
    padding-left 14px
    padding-right 14px
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0
    a
      background-color #D4F0FD

a.page-header
  color black
  text-decoration none

h1 small
  color #414141
