.well
	background-color #D4F0FD
	border solid 1 px #4BB3E5
	border-color #4bb3e5
	position relative
	left 1%
	width 98%

	&:not(form)
		text-align center

.img
	max-height 400px

.carousel-inner
	border-radius 14px 

.carousel-control
	border-radius 14px 

.carousel
	margin-bottom 20px
