.well
	&:not(form)
		text-align center

.img
	max-height 400px

.carousel-inner
	border-radius 14px 

.carousel-control
	border-radius 14px 

.carousel
	margin-bottom 20px

.inner.cover
	img
		margin-top 50px
		margin-bottom 50px