.well
	&:not(form)
		text-align center

.img
	max-height 400px

.carousel-inner
	border-radius 14px 

.carousel-control
	border-radius 14px 

.carousel
	margin-bottom 20px

.inner.cover
	img
		margin-top 50px
		margin-bottom 50px

.inner.cover
	ul
		font-size 20 px
		text-align justify

p.lead
	text-align justify

a.btn.btn-lg.btn-primary
	margin-bottom 50px