Magma = #bb3c2d
Lava = #c15628
Explosion = #c87a28
DarkGrey = #282828
LightGrey = #333

:root
  overflow-y scroll

body
  background-color DarkGrey

ul.nav.nav-pills
  margin-bottom 20px
  li
    padding-left 14px
    padding-right 14px
    a
      background-color LightGrey
      color Explosion

a.page-header
  color Explosion
  text-decoration none
  position relative
  left 1%
  width 98%

.page-header
  border-bottom 1px solid
  border-color Magma


.well
  margin 0
  background-color LightGrey
  border solid 1px
  border-color Magma
  color Explosion

footer
  color Explosion

.btn.btn-primary
  background-color Explosion
  border-color rgba(0 0 0 0)

.btn.btn-danger
  background-color Magma
