body
  background-color #9CDAF8
  overflow-y scroll

ul.nav.nav-pills
  margin-bottom 20px
  li
    padding-left 14px
    padding-right 14px
    a
      background-color #D4F0FD

a.page-header
  color black
  text-decoration none

small
  color #414141

a.page-header
  position relative
  left 1%
  width 98%