body
	background-color #9cdaf8	

.thumbnail
	background-color #d4f0fd
	border-color #4bb3e5

	.img-circle
		height 250px 
		width 250px

	img
		-webkit-filter: grayscale(100%) brightness(50%)
		transition: box-shadow 1s, -webkit-filter 1s
		-webkit-filter: 1s
		margin-top 25px
		outline 0

	&:not([data-amount="0"]) img
		box-shadow: 0 0 50px #70c7f0;
		-webkit-filter: grayscale(0) brightness(1);

.thumbnail::after
	content: attr(data-amount)
	position: absolute
	top: 3%
	right: 42%
	z-index: 1000
	font-size: 100px
	color: #000
	opacity: 0.5

.button
	margin-top 5px
	margin-left 15%

.titre
	text-align center

.desc 
	text-align center
	margin-top 5px

.form 
	margin-top 5px
	margin-left 15%

				