.power
	margin-top 25px
	border-color #66afe9
	outline 0
	box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 50px rgba(102, 175, 233, .6)

.thumbnail
	margin-top 25px

.button
	margin-left 15%

.titre
	margin-left 50%